html,
body {
    margin: 0;
    background-color: #0f0e0e;
}

header {
    margin-top: 10em;
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #750c1c;
    text-align: center;
    font-size: 7rem;
}

h2 {
    font-family: 'Cabin', sans-serif;
    color: #e9e8e8;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 100;
}

h2 a {
    color: #750c1c;
    cursor: pointer;
}

h2 a:hover {
    color: #c01831;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fab {
    color: #750c1c;
    font-size: 70px;
    padding: 1rem;
    cursor: pointer;
}

.fab:hover {
    color: #c01831;
}